<h1>Welcome to the practice of Doctor Cascade</h1>
<p>How may I help you?</p>
<hr>
<p>I am a new patient & need to register</p>
<button class="btn btn-info mt-3 mb-3"> 
<%= link_to 'Patient Registration', new_patient_path %>
</button>
<hr>
<p>I am a new physician & need a job</p>
<button class="btn btn-info mt-3 mb-3"> 
<%= link_to 'Physician Application', new_physician_path %>
</button>